/* Add a bottom border to headers and project sections, except for the last one */
header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

/* Style a button with no background or border, and change color and underline on hover */
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc; /* Blue color */
  text-decoration: none;
  font-size: 100%;
}

/* Change color and add underline on hover for the no-button class */
.no-button:hover {
  color: #065b83; /* Darker blue color */
  text-decoration: underline;
}

/* Style a dollar amount by making it bold and changing the color */
.dollar-amount {
  color: #056605; /* Green color */
  font-weight: bold;
  margin-left: -5px; /* Add negative margin to shift the dollar sign left */
}
